@font-face {
  font-family: "iconfont"; /* Project id 4559371 */
  src: url('iconfont.woff2?t=1718275242933') format('woff2'),
       url('iconfont.woff?t=1718275242933') format('woff'),
       url('iconfont.ttf?t=1718275242933') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-qq:before {
  content: "\e63c";
}

.icon-youxiang1:before {
  content: "\e626";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-github:before {
  content: "\e66f";
}

.icon-gitee:before {
  content: "\e603";
}

.icon-denglu:before {
  content: "\e622";
}

.icon-yonghuzongshu:before {
  content: "\e621";
}

.icon-xinzengyonghu:before {
  content: "\e630";
}

.icon-yonghuxinxi:before {
  content: "\e643";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e60a";
}

.icon-Home:before {
  content: "\e615";
}

.icon-quxiaoquanping_o:before {
  content: "\eb98";
}

.icon-quanping_o:before {
  content: "\eb99";
}

.icon-wenzhang:before {
  content: "\e668";
}

