// 用于亮暗模式的切换动画
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

/* 根据选择器修改 */
[class="dark"]::view-transition-old(root) {
  z-index: 2147483646;
}
[class="dark"]::view-transition-new(root) {
  z-index: 1;
}

// [center-container="dark"]::view-transition-old(root) {
//   z-index: 2147483646;
// }
// [center-container="dark"]::view-transition-new(root) {
//   z-index: 1;
// }
