@font-face {
  font-family: "iconfont"; /* Project id 4559371 */
  src: url('//at.alicdn.com/t/c/font_4559371_2xffxvj5ucv.woff2?t=1723472704026') format('woff2'),
       url('//at.alicdn.com/t/c/font_4559371_2xffxvj5ucv.woff?t=1723472704026') format('woff'),
       url('//at.alicdn.com/t/c/font_4559371_2xffxvj5ucv.ttf?t=1723472704026') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e611";
}

.icon-youxiang:before {
  content: "\e664";
}

.icon-github:before {
  content: "\e799";
}

.icon-huidaodingbu:before {
  content: "\e600";
}

.icon-denglu:before {
  content: "\e622";
}

.icon-yonghuzongshu:before {
  content: "\e621";
}

.icon-xinzengyonghu:before {
  content: "\e630";
}

.icon-yonghuxinxi:before {
  content: "\e643";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e60a";
}

.icon-Home:before {
  content: "\e615";
}

.icon-quxiaoquanping_o:before {
  content: "\eb98";
}

.icon-quanping_o:before {
  content: "\eb99";
}

.icon-wenzhang:before {
  content: "\e668";
}
